@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{  /* Utilisé pour les étoiles des cartes Hébergements et Populaires */
    --blue: #0065FC;
    --lightblue: #DEEBFF;
    --grey: #F2F2F2;
}

.blue{
    color: var(--blue);
}

.grey{
    color: var(--grey);
}

*{ 
    font-family: "Raleway",sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h2{
    font-weight: bold;
}

h3{
    font-weight: bold;
}

html{
    font-size: 17px;
}

img{
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    
}

/* Class */

/* Filtres */
.filtres{
    display: flex;
    align-items: center;
    font-weight: bold;
    padding-top: 30px;
}

.filtres h2{
padding-bottom: 30px;
padding-right: 25px;
}

.filtres ul{
    display: flex;
    flex-wrap: wrap;
}

.filtres li{
    margin: 0 25px 30px 0;
    border: solid 2px #F2F2F2;
    padding: 0 20px 0 0;
    border-radius: 35px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.filtres li::before{
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
    margin: -2px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filtres li:nth-child(1)::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f53b";
}

.filtres li:nth-child(2)::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\e59d";
}

.filtres li:nth-child(3)::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f004";
}

.filtres li:nth-child(4)::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f6d3"; 
}

.filtres ul :hover{
    background-color: var(--grey);
}

.filtresListes{
    padding-left: 15px;
}

/* Info "I"*/

.fa-solid.fa-info{
    color: #0065FC;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px #F2F2F2;
}

.filtres + p{
    display: flex;
    align-items: center;
    margin: 0 0 30px 0;
}

.bulleinfoTexte{
    padding-left: 15px;
}


/* Body */
/* Header */

#headerTop div:nth-child(1){
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#headerTop{
    padding: 0 30px;
}

#headerTop div:nth-child(2) h1{
    margin: 0;
}

#headerTop div:nth-child(2) p{
    margin-top: 5px;
    padding-bottom: 20px;
}

#headerTop nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

#headerTop nav ul {
    display: flex;
}

#headerTop nav a{
    padding: 20px;
    display: block;
}

#headerTop nav li:hover{
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

#headerTop nav li{
    border-top: 2px solid transparent;
}


/* Formulaire */

#formSearch label{
    display: none;
}

#formSearch{
    display: flex;    
}

#formSearch i{
    padding: 12px 16px;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
}

#formSearch input{
    overflow: auto;
    padding: 8px 40px;
    font-size: 15px;
    border: 1px solid #fef2f2;
}

#formSearch input[type=submit]{
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border-radius: 0 10px 10px 0;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
}

#formSearch button{
    display: none;
}


/* Section 1 */
/* Hébergements */

#hebergementsPopulaires{
    padding: 0 30px;
    display: flex;
}

#hebergements{
    background-color: #F2F2F2;
    margin-right: 15px;
    flex: 2;
    border-radius: 10px;
    padding: 20px;
}

/* Hébergements cartes */

#hebergements h2{
    padding: 15px 0 20px 10px;
}

#hebergementsCards{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 10px;
    margin-bottom: 30px;
}

#hebergementsCards article{
    border-radius: 10px;
    flex: 0 0 210px;
    background-color: white;
    box-shadow: 1px 1px 4px grey;
    font-size: small;
    margin-bottom: 10px;
}

#hebergementsCards img{
    border-radius: 10px 10px 0 0;
    padding: 5px;
    height: 100px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#hebergementsCards h3{
    padding-left: 10px;
}

.hebergementsCardsDescription{
    padding: 10px 0 10px 15px;
}

.hebergementsCardsDescription p{
    margin: 2px 0 5px 0;
}

#hebergementsCards + a{
    font-weight: bold;
    padding-left: 10px;
}

/* Populaires */

#populaires{
    background-color: #F2F2F2;
    margin-left: 15px;
    flex-basis: 33%;
    border-radius: 10px;
    padding: 20px;
}

#populaires h2{
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 20px 20px;
}

/* Populaires cartes */

#populairesCards{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    flex: 0 0 100%;
    padding: 0 10px;
    margin: 0 10px;
}

#populairesCards article{
    display: flex;
    border-radius: 10px;
    background-color: white;
    flex: 0 0 100%;
    box-shadow: 1px 1px 4px grey;
    margin-bottom: 30px;
    font-size: small;
    padding: 5px;
}

#populairesCards a{
    flex-basis: 100%;
    display: flex;
}

#populairesCards img{
    border-radius: 5px 0 0 5px;
    height: 120px;
    width: 120px;
    object-fit: cover;
    object-position: bottom;
    display: flex;
}   

.populairesCardsDescription{
    flex-direction: column;
    padding : 20px 0 0 20px;
    flex: 1;
}

.populairesCardsDescription p{
    padding-top: 10px;
}

.populairesCardsDescription div{
    padding-top: 20px;
}


/* Activités */

#activites{
    padding: 0 30px 30px 30px;
    margin: 20px 0;
}

#activites h2{
    padding: 40px 0 20px 0;
}

#activites img{
    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    object-position: center;
}

#activites h3{
    padding: 15px 0 15px 10px;
    font-size: small;
}

#activitesCards{
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    height: 500px;
}

#activitesCards article{
    border-radius: 20px;
    box-shadow: 0 0 20px #0000002e;
    width: 23%;
}

#activitesCards article:nth-child(1){ 
    order: 1; 
    height: 93%;
}

#activitesCards article:nth-child(1) img{
    height: 410px;
}

#activitesCards article:nth-child(2){ 
    order: 2; 
    height: 50%;
    margin-bottom: 40px;
}

#activitesCards article:nth-child(2) img{
    height: 195px;
}

#activitesCards article:nth-child(3){ 
    order: 2; 
    height: 35%;
}

#activitesCards article:nth-child(3) img{
    height: 120px;
}

#activitesCards article:nth-child(4){ 
    order: 3;
    height: 93%;
}

#activitesCards article:nth-child(4) img{
    height: 410px;
}

#activitesCards article:nth-child(5){ 
    order: 4; 
    height: 35%;
    margin-bottom: 40px;
}

#activitesCards article:nth-child(5) img{
    height: 120px;
}

#activitesCards article:nth-child(6){ 
    order: 4; 
    height: 50%;
}

#activitesCards article:nth-child(6) img{
    height: 195px;
}


/* Footer */

footer{
    display: flex;
}

footer nav{
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: var(--grey);
    font-size: small;
    flex: 1;
}

footer nav ul{
    flex-flow: column wrap;
    width: 100%;
}

footer nav h3{
    padding-bottom: 20px;
}

footer nav li{
    padding-bottom: 10px;
}

footer nav a:hover{
    text-decoration: underline
}


                                            /* MediaQueries */


@media screen and (max-width: 768px){

/* Header */

    .filtres{ /* Titre filtre au dessus des filtres */
        flex-direction: column;
        align-items: flex-start;
    }

    #headerTop nav li:hover{
        border-bottom: 2px solid #0065FC;
        border-top: none;
        color: #0065FC;
    }

    #headerTop nav li{
        border-bottom: 2px solid transparent;
        border-top: none;
    }

    #headerTop div:nth-child(1){
        flex-direction: column;
        margin-bottom: 20px;
    }

    #headerTop div:nth-child(1) ul{
        width: 100%;
        padding-top: 30px;
    }

    #headerTop div:nth-child(1) ul li{
        flex-basis: 50%;
        text-align: center;
    }

    #logo{
        width: fit-content;
        display: block;
        margin: auto;
    }

/* Formulaire */

    #formSearch button{
        display: inherit;
        background-color: #0065FC;
        color: white;
        border-radius: 0 10px 10px 0;
        border: none;
        cursor: pointer;
        overflow: auto;
    }

    #formSearch button i{
        background-color: inherit;
    }
    
    #formSearchButton{
        display: none;
    }

/* Hébergements */

    #hebergementsPopulaires{
        padding: inherit;
    }

    #hebergements{
        background-color: inherit;
        margin-right: 15px;
        flex: 2;
        border-radius: 10px;
        padding: 10px ;
    }

    #hebergements h2 {
        padding-left: 20px;
    }

    #hebergementsCards + a {
        padding-left: 20px;
    }

    #hebergementsCards{
        display: inline;
    }

    #hebergementsCards article{
        margin: 0 20px 30px 20px;
    }


/* Populaires */

/* Activités */

#activitesCards{
    display: inline;
}

#activitesCards article{
    width: 100%;
}

#activitesCards article:nth-child(1){ 
    height: 16%;
    margin-bottom: 30px;
}

#activitesCards article:nth-child(1) img{
    height: 100px;
}

#activitesCards article:nth-child(2){  
    height: 16%;
    margin-bottom: 30px;
}

#activitesCards article:nth-child(2) img{
    height: 100px;
}

#activitesCards article:nth-child(3){ 
    height: 16%;
    margin-bottom: 30px;
}

#activitesCards article:nth-child(3) img{
    height: 100px;
}

#activitesCards article:nth-child(4){ 
    height: 16%;
    margin-bottom: 30px;
}

#activitesCards article:nth-child(4) img{
    height: 100px;
}

#activitesCards article:nth-child(5){ 
    height: 16%;
    margin-bottom: 30px;
}

#activitesCards article:nth-child(5) img{
    height: 100px;
}

#activitesCards article:nth-child(6){ 
    height: 16%;
}

#activitesCards article:nth-child(6) img{
    height: 100px;
}


/* Footer */ 

    footer{
        flex-direction: column;
    }

    footer nav{
        text-align: center;
    }
}



@media screen and (max-width: 992px){
    

/* Hébergements */

    #hebergementsPopulaires{
        flex-direction: column;
    }
    
    #hebergements{
        margin: 0;
    }


/* Populaires */

    #populaires{ 
        order: -1; /*Pour placer le bloc populaires en premier on lui met une valeur négative*/
        margin: 0 0 30px 0; 
    }

    #populairesCards{
        flex-direction: row;
    }
}

